<%- include("./partials/head.ejs") %>
<body class="container">
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <main>
        <form action="/crashreports/<%= report.id %>?_method=PUT" method="POST">
            <fieldset>
                <legend>Basics</legend>
                <label for="date">Date of Crash</label>
                <input type="date" name="date" id="date" required="true" value="<%= report.date %>">
                <label for="location">Location of Crash</label>
                <input type="text" name="location" id="location" placeholder="Address or intersection" required="true" value="<%= report.location %>">
                <div class="form-label">
                    <input type="checkbox" name="hitAndRun"
                        <% if (report.hitAndRun) { %>
                            checked
                        <% } %>
                    >
                    <label for="hitAndRun">Was this a hit & run?</label>
                </div>
                <label for="description">Can you give a brief description of the crash?</label><textarea name="description" id="description" cols="30" rows="10"><%= report.description %></textarea>
            </fieldset>
            <!-- Radio buttons for location -->
            <fieldset>
                <legend>Where did the crash happen?</legend>
                <div class="form-label">
                    <input type="radio" name="loctype" id="intersection" value="intersection" required="true"
                        <% if (report.loctype == "intersection") { %>
                            checked
                        <% } %>
                    >
                    <label for="intersection">Intersection</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="loctype" id="midblock" value="midblock" required="true"
                        <% if (report.loctype == "midblock") { %>
                            checked
                        <% } %>
                    >
                    <label for="midblock">Midblock</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="loctype" id="sidewalk" value="sidewalk" required="true"
                        <% if (report.loctype == "sidewalk") { %>
                            checked
                        <% } %>
                    >
                    <label for="sidewalk">Sidewalk</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="loctype" id="parkinglot" value="parkinglot" required="true"
                        <% if (report.loctype == "parkinglot") { %>
                            checked
                        <% } %>
                    >
                    <label for="parkinglot">Parking Lot</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="loctype" id="other" value="other" required="true"
                        <% if (report.loctype == "other") { %>
                            checked
                        <% } %>
                    >
                    <label for="other">Other</label>
                </div>
            </fieldset>
            <!-- Checkboxes for vehicle types -->
            <!-- Callback for .some() array method below -->
            <fieldset>
                <legend>What travel modes were involved?</legend>
                <div class="form-label">
                    <input type="checkbox" name="car" id="car"
                        <% if (report.mode.some((mode) => mode == "car")) { %>
                            checked
                        <% } %>
                    >
                    <label for="car">Car (includes motorcycles, trucks)</label>
                </div>
                <div class="form-label">
                    <input type="checkbox" name="bike" id="bike"
                        <% if (report.mode.some((mode) => mode == "bike")) { %>
                            checked
                        <% } %>
                    >
                    <label for="bike">Bicycle</label>
                </div>
                <div class="form-label">
                    <input type="checkbox" name="ped" id="ped"
                        <% if (report.mode.some((mode) => mode == "ped")) { %>
                            checked
                        <% } %>
                    >
                    <label for="ped">Pedestrian</label>
                </div>
            </fieldset>
            <!-- Radio buttons for injury -->
            <fieldset>
                <legend>Was anyone injured?</legend>
                <div class="form-label">
                    <input type="radio" name="injury" id="none" value="none" required="true"
                        <% if (report.injury == "none") { %>
                            checked
                        <% } %>
                    >
                    <label for="none">None</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="injury" id="minor" value="minor" required="true"
                        <% if (report.injury == "minor") { %>
                            checked
                        <% } %>
                    >
                    <label for="minor">Minor</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="injury" id="major" value="major" required="true"
                        <% if (report.injury == "major") { %>
                            checked
                        <% } %>
                    >
                    <label for="major">Major</label>
                </div>
                <div class="form-label">
                    <input type="radio" name="injury" id="death" value="death" required="true"
                        <% if (report.injury == "none") { %>
                            checked
                        <% } %>
                    >
                    <label for="death">Death</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>911/Police Response</legend>
                <div class="form-label">
                    <input type="checkbox" name="called911" id="called911"
                        <% if (report.called911) { %>
                            checked
                        <% } %>
                    >
                    <label for="called911">Did anyone call 911?</label>
                </div>
                <!-- Radio buttons for police response -->
                <fieldset>
                    <legend>What was the police response?</legend>
                    <div class="form-label">
                        <input type="radio" name="policeResponse" id="dismissed" value="none"
                            <% if (report.policeResponse == "none") { %>
                                checked
                            <% } %>
                        >
                        <label for="dismissed">None/Dismissed</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="policeResponse" id="stationreport" value="stationreport"
                            <% if (report.policeResponse == "stationreport") { %>
                                checked
                            <% } %>
                        >
                        <label for="stationreport">Report at Station</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="policeResponse" id="sitereport" value="sitereport"
                            <% if (report.policeResponse == "sitereport") { %>
                                checked
                            <% } %>
                        >
                        <label for="sitereport">Report at Crash Site</label>
                    </div>
                    <div class="form-label">
                        <input type="radio" name="policeResponse" id="arrest" value="arrest"
                            <% if (report.policeResponse == "arrest") { %>
                                checked
                            <% } %>
                        >
                        <label for="arrest">Arrest was made</label>
                    </div>
                </fieldset>
                <div class="form-label">
                    <input type="checkbox" name="madeReport" id="madeReport"
                        <% if (report.madeReport) { %>
                            checked
                        <% } %>
                    >
                    <label for="madeReport">Was a report made?</label>
                </div>
                <label for="reportNumber">If yes, what is the report number?</label><input type="text" name="reportNumber" id="reportNumber" value="<%= report.reportNumber %>">
            </fieldset>
            <fieldset>
                <legend>Lawsuit Info</legend>
                <div class="form-label">
                    <input type="checkbox" name="haveLawyer" id="haveLawyer"
                        <% if (report.haveLawyer) { %>
                            checked
                        <% } %>
                    >
                    <label for="haveLawyer">Have you retained a lawyer?</label>
                </div>
                <label for="lawyerName">If yes, which lawyer?</label>
                <input type="text" name="lawyerName" id="lawyerName" value="<%= report.lawyerName %>">
                <div class="form-label">
                    <input type="checkbox" name="madeSuit" id="madeSuit"
                        <% if (report.madeSuit) { %>
                            checked
                        <% } %>
                    >
                    <label for="madeSuit">Have you made a lawsuit?</label>
                </div>
            </fieldset>
            <div class="buttons">
                <input type="submit" value="Edit report">
                <a href="/crashreports/<%= report.id %>"><button>Cancel</button></a>
            </div>
        </form>
    </main>
</body>
</html>