    <%- include("./partials/head.ejs") %>
    <body class="container">
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
        <main>
            <h3>Crash Reports</h3>
            <div id='map' style='width: 100%; height: 300px;'></div>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Map Coordinates</th>
                </tr>
                <% for (let i = 0; i < reports.length; i++) { %>
                    <tr>
                        <td><a href="/crashreports/<%= reports[i].id %>"><%= writeDateBetter(reports[i].date) %></a></td>
                        <td><%= reports[i].location %></td>
                        <td class="lngLat" id="<%= reports[i].lngLat %>"><%= reports[i].lngLat %></td>
                    </tr>
                <% } %>
            </table>
            <!-- <ul>
                <% for (let i = 0; i < reports.length; i++) { %>
                    <li><a href="/crashreports/<%= reports[i].id %>"><%= writeDateBetter(reports[i].date) %></a> | <%= reports[i].location %></li>
                <% } %>
            </ul> -->
        </main>
    </body>
</html>