<%- include("./partials/head.ejs") %>
<body class="container">
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="report">
            <h3>Crash Report in Detail</h3>
            <p><strong>Date:</strong> <%= report.date %></p>
            <p><strong>location:</strong> <%= report.location %></p>
            <p><strong>description:</strong> <%= report.description %></p>
            <p><strong>loctype:</strong> <%= report.loctype %></p>
            <p><strong>hitAndRun:</strong> <%= report.hitAndRun %></p>
            <p><strong>Modes involved:</strong> <%= report.mode %></p>
            <p><strong>injury:</strong> <%= report.injury %></p>
            <p><strong>called911:</strong> <%= report.called911 %></p>
            <% if (report.called911) { %>
                <p><strong>policeResponse:</strong> <%= report.policeResponse %></p>
            <% } %>
            <p><strong>madeReport:</strong> <%= report.madeReport %></p>
            <% if (report.madeReport) { %>
                <p><strong>reportNumber:</strong> <%= report.reportNumber %></p>
            <% } %>
            <p><strong>haveLawyer:</strong> <%= report.haveLawyer %></p>
            <% if (report.haveLawyer) { %>
                <p><strong>lawyerName:</strong> <%= report.lawyerName %></p>
            <% } %>
            <p><strong>madeSuit:</strong> <%= report.madeSuit %></p>
            <div class="buttons">
                <a href="/crashreports/<%= report.id %>/edit"><button>Edit Report</button></a>
                <form action="/crashreports/<%= report.id %>?_method=DELETE" method="POST" id="delete-btn">
                    <input type="submit" value="Delete report">
                </form>
            </div>
        </div>
    </main>
</body>
</html>