<%- include("./partials/head.ejs") %>
<body class="container">
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="report">
            <h3>Crash Report in Detail</h3>
            <p>
                On <%= report.date %>, a crash occurred  
                <% if (report.loctype == "other") { %>
                    at <%= report.location %>
                <% } else if (report.loctype == "midblock") { %>
                    <%= report.loctype %> near <%= report.location %>
                <% } else { %>
                    in the <%= report.loctype %> of <%= report.location %>.
                <% } %>

                <% if (report.injury == "none") { %>
                    No one was hurt.
                <% } else if (report.injury == "death") { %>
                    Someone was killed in this crash.
                <% } else { %>
                    At least one person reported a <%= report.injury %> injury.
                <% } %></p>

                <p>At the scene 
                <% if (report.called911) { %>
                    someone
                <% } else { %>
                    no one
                <% } %>
                called 911.
                
                The police 
                <% if (report.policeResponse == "none") { %>
                    did not report to the scene.
                <% } else if (report.policeResponse == "stationreport") { %>
                    asked those involved to exchange information and make a report at the station.
                <% } else if (report.policeResponse == "sitereport") { %>
                    took down a report at the scene and made no arrests.
                <% } else { %>
                    arrested at least one person involved.
                <% } %>

                A police report was 
                <% if (!report.madeReport) { %>
                    not made.
                <% } else { %>
                    made and the report number is <%= report.reportNumber %>.
                <% } %>

                As of the most recent update,
                <% if (!report.haveLawyer) { %>
                    a lawyer has not been hired.
                <% } else { %>
                    the victim has retained the services of <%= report.lawyerName %>.
                <% } %>
                
                A lawsuit has
                <% if (!report.madeSuit) { %>
                    not 
                <% } %>
                been filed.
            </p>
            <p class="description">Civilian report description: <%= report.description %></p>
            <p>Transit modes involved: <%= report.mode %></p>
            <p>Report last updated on <%= report.updatedAt.toDateString() %>.</p>

            <div class="buttons">
                <a href="/crashreports/<%= report.id %>/edit"><button>Edit Report</button></a>
                <form action="/crashreports/<%= report.id %>?_method=DELETE" method="POST" id="delete-btn">
                    <input type="submit" value="Delete report">
                </form>
            </div>
        </div>
    </main>
</body>
</html>